.icon {
    font-size: 1.2rem;
    cursor: pointer;
    color: blue;
    padding: 5px;
}

.icon-delete {
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.text-quantity {
    margin-top: 5px;
}

.add-section {
    display: flex;
    margin-top: 79px;
    gap: 8px;
}

.product-img {
    border-radius: 12px;
}

.cart-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.cart {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-confirm {
    border-radius: 25px;
}