.icon {
    font-size: 1.2rem;
    cursor: pointer;
    color: blue;
    padding: 5px;
}

.icon-delete {
    font-size: 1.5rem;
    cursor: pointer;
    color: red;
}

.text-quantity {
    margin-top: 5px;
}

.add-section {
    display: flex;
    margin-top: 79px;
    gap: 8px;
}

.product-img {
    border-radius: 12px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated[_ngcontent-ng-c2341802529] {
    margin-left: 64px;
    margin-top: -46px;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    margin-left: 12px;
}