<ion-header class="header" >
  <ion-toolbar color="toolbar">

    <ion-buttons class="buttons" slot="start">
      <ion-back-button class="back-button" default-href="page/tabs/tab3">  </ion-back-button>
    </ion-buttons>
  
    <img class="header__image" src="../../assets/logoFinder.png" alt="logoFinder">
    
  </ion-toolbar>
</ion-header>


<ion-content color="light">

    <!-- este para el forgot password https://www.youtube.com/watch?v=5ihwDIZ57TE -->

<br>

<ion-button (click)="logOutCx()" id="present-alert"  expand="block" fill="outline">Cierre de Sesión Global</ion-button> 
<ion-alert
  trigger="present-alert"
  header= "Tu sesión se ha cerrado en todos los dispositivos."
  [buttons]="alertButton"
  (didDismiss)="setResult($event)"
></ion-alert>

<!-- No se que mas poner aca -->




 

