<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Security
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="light">
  <ion-list [inset]="true">

<ion-button id="present-alert"  expand="block" fill="outline">Cierre de Sesión Global</ion-button>
<ion-alert
  trigger="present-alert"
  header="¿Estás seguro que quieres cerrar sesión en todos tus dispositivos?"
  [buttons]="alertButtons"
  (didDismiss)="setResult($event)"
></ion-alert>

<!-- No se que mas poner aca -->




 

