<ion-content>
  <ion-searchbar placeholder="Search Product"></ion-searchbar>
    <ion-grid [fixed]="true">
        <ion-row>
          <ion-col class="plus-container">
            <ion-icon class="plus" name="duplicate-outline" (click)="presentAlert()"></ion-icon>
          <form
            [formGroup]="productsForm"
            autocomplete="off"
          >
          </form>
          </ion-col>
          <ion-col *ngFor="let product of products" size="6">
            <ion-card>
                <img class="grid-image" [src]="product.urlImage" [alt]="product.name"/>
                <ion-card-header>
                  <ion-card-title>{{product.name}}</ion-card-title>
                  <ion-card-subtitle>{{product.price | currency}}</ion-card-subtitle>
                </ion-card-header>
              
                  <ion-card-content class="cards-buttons">
                    <ion-button class="btn" color="danger" (click)="deleteProductConfirm(product._id)" >Eliminar</ion-button>
                    <ion-button class="btn" color="success">Actualizar</ion-button>
                  </ion-card-content>
              </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
