<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main" [fullscreen]="true">
  <form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
  class="form form-auth form-login"
  autocomplete="off"
  >
    <ion-card class="register-box">
      <ion-card-header>
        <ion-card-title class="register-box__titulo">Registro</ion-card-title>
        <ion-card-subtitle class="register-box__subtitulo">¡Gracias por Registrarte!</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="register-box__form">
   
          <ion-input 
            class="register-box__user-info" 
            type="text" 
            formControlName="name"
            placeholder="Nombres" />

          <div 
            *ngIf="registerForm.get( 'name' )?.invalid && registerForm.get( 'name' )?.dirty && registerForm.get( 'name' )?.touched" 
            class="error-message" >
            <small *ngIf="registerForm.get( 'name' )?.errors?.[ 'required' ]" >
              <strong>Su Nombre es requerido.</strong>
            </small>
            <small *ngIf="registerForm.get( 'name' )?.errors?.[ 'minLength' ]" >
              <strong>Este campo debe tener al menos 3 caracteres.</strong>
            </small>
          </div>

          <ion-input 
            class="register-box__user-info" 
            type="text" 
            formControlName="lastName"
            placeholder="Apellido" />
          <div 
            *ngIf="registerForm.get( 'lastName' )?.invalid && registerForm.get( 'lastName' )?.dirty && registerForm.get( 'lastName' )?.touched" 
            class="error-message" >
            <small *ngIf="registerForm.get( 'lastName' )?.errors?.[ 'required' ]" >
              <strong>Su Apellido es requerido.</strong>
            </small>
            <small *ngIf="registerForm.get( 'lastName' )?.errors?.[ 'minLength' ]" >
            <strong>Este campo debe tener al menos 3 caracteres.</strong>
            </small>
          </div>  
  
          <ion-input 
            class="register-box__user-info" 
            type="text"
            formControlName="username" 
            placeholder="Usuario" />
            <div 
            *ngIf="registerForm.get( 'username' )?.invalid && registerForm.get( 'username' )?.dirty && registerForm.get( 'username' )?.touched" 
            class="error-message" >
            <small *ngIf="registerForm.get( 'username' )?.errors?.[ 'required' ]">
            <strong>El usuario es requerido.</strong>
            </small>
            <small *ngIf="registerForm.get( 'username' )?.errors?.[ 'email' ]">
            <strong>El usuario debe ser un correo electrónico.</strong>
            </small>
          </div>

          <ion-input 
            class="register-box__user-info" 
            type="password"
            formControlName="password" 
            placeholder="Contraseña" />

          <div *ngIf="registerForm.get( 'password' )?.invalid && registerForm.get( 'password' )?.dirty && registerForm.get( 'password' )?.touched" class="error-message">
            <small *ngIf="registerForm.get( 'password' )?.errors?.[ 'required' ]">
            <strong>La contraseña requerida.</strong>
            </small>
            <small *ngIf="registerForm.get( 'password' )?.errors?.[ 'minLength' ]">
            <strong>La contraseña debe tener mínimo 6 caracteres.</strong>
            </small>
            <small *ngIf="registerForm.get( 'password' )?.errors?.[ 'maxLength' ]">
            <strong>La contraseña debe tener máximo 12 caracteres.</strong>
            </small>
          </div> 
        
          <!-- <ion-input 
            class="register-box__user-info" 
            type="password"
            formControlName="repeatPassword" 
            placeholder="Repetir Contraseña" />  -->
            <!--  Para este me toca mirar como funciona la parte del small  -->
          
          <ion-input 
            class="register-box__user-info" 
            type="tel"
            formControlName="phone"
            placeholder="Celular" />

            <!--  Para este me toca mirar como funciona la parte del small  x2 -->
          
        </ion-list>

      <div class="field">
        <div [class]="classMessage">
          {{ message }}
        </div>
      </div>

        <ion-button 
          class="boton-register" 
          type="submit"
          [disabled]="registerForm.invalid">
          Registrarse
        </ion-button>
      </ion-card-content>
      <ion-text class="boton__register-cancel">
        <a class="boton__register-cancel-enlace" href="#">Cancelar</a>
      </ion-text>
      <ion-text class="methods"> O registrate con </ion-text>
      <div class="other-methods">
        <a href="#" class="other-methods__enlance"><ion-icon size="large" name="logo-google"></ion-icon></a>
        <a href="#" class="other-methods__enlance"><ion-icon size="large" name="logo-apple"></ion-icon></a>
        <a href="#" class="other-methods__enlance"><ion-icon size="large" name="logo-facebook"></ion-icon></a>
      </div>
      <ion-text class="other-methods__sign-in">
        Ya estás registrado?
        <p class="other-methods__enlace-sign-in"><a routerlink="/auth/login">&nbsp;Inicia sesión aquí.</a></p>
      </ion-text>
    </ion-card>
    </form>
  </ion-content>
  
