.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: #E6E6FA;
}

// En tu archivo .scss
.tabs-nav {
  --ion-background-color: #faf7f7; // Cambia el color de fondo
  --ion-color-tabbar-background: #4854E0; // Cambia el color de fondo de la barra de tabs
  --ion-color-tabbar-tab-text: #4854E0; // Cambia el color del texto de los tabs
}


.header__image{
    width: 6.5rem;
}

ion-tab-bar.tab-bar.md.hydrated {
    background: #4854E0;
}

ion-tab-button.tab-button {
    background: transparent;
    color: white;
}