<ion-header class="header" >
  <ion-toolbar color="toolbar">

    <ion-buttons class="buttons" slot="start">
      <ion-back-button class="back-button" default-href="page/tabs/tab3">  </ion-back-button>
    </ion-buttons>
  
    <img class="header__image" src="../../assets/logoFinder.png" alt="logoFinder">
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="helpTitle" >¿Cómo podemos ayudarte?</h1>
  <br>
  <a class="card-link" ><ion-card color="primary">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">FAQ</ion-card-title>
      <ion-card-subtitle class="card-subtitle">Aquí podrás encontrar una lista de preguntas frecuentes</ion-card-subtitle>
      <br>
      <ion-icon (click)="presentPopover($event)" class="help-icon" size="large" name="help-circle-outline"></ion-icon>
    </ion-card-header>
    </ion-card>
</a>
<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content class="ion-padding">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque incidunt ad quidem at veniam nostrum! Exercitationem ratione consectetur sit, dolorum minima nesciunt sequi vitae magnam possimus sapiente doloremque fuga beatae?</ion-content>
  </ng-template>
</ion-popover>

  <a class="card-link" href="https://wa.me/573058129508">
    <ion-card color="success">
      <ion-card-header class="card-header">
      <ion-card-title class="card-title" >¡Ponte en contacto con nosotros!</ion-card-title>
      <ion-card-subtitle class="card-subtitle" >Chatea con nosotros vía WhatsApp</ion-card-subtitle>
      <br>
      <ion-icon class="help-icon" size="large" name="logo-whatsapp"></ion-icon>
    </ion-card-header>
  </ion-card>
</a>