<ion-header class="header" >
  <ion-toolbar color="toolbar">

    <ion-buttons class="buttons" slot="start">
      <ion-back-button class="back-button" default-href="page/tabs/tab3">  </ion-back-button>
    </ion-buttons>
  
    <img class="header__image" src="../../assets/logoFinder.png" alt="logoFinder">
    
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="about-h1"> Nuestra Historia</h1>
  
<img src="https://www.ceupe.com/images/easyblog_articles/3625/b2ap3_large_que-es-un-tienda-online.png" alt="Finder logo">

  <p class="about-p-historia">
    Finder 24/7 surge para satisfacer la necesidad de acceder a productos y servicios de forma rápida en cualquier lugar de Bogotá, en cualquier momento. Además, busca impulsar los ingresos tanto de las tiendas locales como de individuos que buscan obtener ingresos adicionales.
    
    <br>
    <br>

    Con Finder 24/7, todos salen ganando: desde aquellos que buscan productos o servicios hasta las tiendas y personas que pueden vender sus productos de manera sencilla en cualquier momento.
  </p>

  <h2 class="about-h2" >Nuestros Fundadores</h2>
  <img class="img-Juan" src="https://images.ecestaticos.com/_86LZtrjYvFwiUnU322KxpwSbuc=/0x0:600x460/557x418/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F2aa%2Fc51%2F6b7%2F2aac516b7429f535ea02364e087b1b32.jpg" alt="JuanPicture">
  <p class="Fundadores-Juan" > Full Stack Web Developer Juan</p>
  <a class="link-linkedin" href="#"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>
  
  <br>

  <img class="img-Will" src="https://media.istockphoto.com/id/809869206/es/foto/chihuahua-sin-dientes-con-leng%C3%BCeta-que-se-pega-hacia-fuera-con-cabeza-tipo-memes-publicidad.jpg?s=1024x1024&w=is&k=20&c=a9EFa5UEVPvRTbfWeqWTaCPDZ1yS6aK5NJmbF2hONBg=" alt="WillPicture">
  <p class="Fundadores-Will"> Full Stack Web Developer William </p>
  <a class="link-linkedin" href="#"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>

  <br>

  <img class="img-Tania" src="https://media.istockphoto.com/id/1280808099/es/foto/el-perro-m%C3%A1s-feliz-del-mundo.jpg?s=1024x1024&w=is&k=20&c=pEbh7ESE-IIaR4SOLpKIYNZBNuHAU0kO9mQHsIEfCuQ=" alt="TaniaPicture">
  <p class="Fundadores-Tania"> Full Stack Web Developer Tania</p>
  <a class="link-linkedin" href="https://www.linkedin.com/in/taniamedina0923/"><ion-icon size="large" name="logo-linkedin"></ion-icon></a>

</ion-content>