<ion-header class="header" >
  <ion-toolbar color="toolbar">

    <ion-buttons class="buttons" slot="start">
      <ion-back-button class="back-button" default-href="login">  </ion-back-button>
    </ion-buttons>
  
    <img class="header__image" src="../../assets/logoFinder.png" alt="logoFinder">
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
  class="form form-auth form-resetPass"
  [formGroup]="resetPassForm"
  autocomplete="off" 
  >

    <ion-item>
      <br>

    <h2 class="forgot-PasswordTitle"> ¿Olvidaste tu contraseña?</h2>
    <br>
        <p class="forgot-PasswordSubtitle" >Proporciona tu correo electrónico y te enviaremos un enlace para restablecer la contraseña</p>
      <ion-label position="stacked">Introduce tu correo electrónico</ion-label>
      <br>
       <ion-input formControlName="email" class="input-field" type="email" name="email">
      </ion-input>   
      </ion-item>
         <small *ngIf="resetPassForm.get('email')?.errors?.[ 'required' ]">
          <ion-text color="danger"><sub><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email es requerido</i></sub> </ion-text>
        </small>
        <small color="danger" *ngIf="resetPassForm.get('email')?.errors?.[ 'pattern' ]">
          <ion-text color="danger"><sub><i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Por favor, introduzca un email válido</i></sub> </ion-text>
        </small>
<br>
    <ion-button fill="outline" expand="block" type="submit" [disabled]="this.resetPassForm.invalid">Restablecer la contraseña</ion-button>
  </form>
</ion-content>
