.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: #E6E6FA;
}
.header__image{
    width: 6.5rem;
}

.ion-toolbar {
    padding: 4rem 0 0 0;
}

.btn-google {
    height: 35px;
    width: 48%;

}

.img-google {
    width: 25px;
    min-width: 25px;
}

.text__btn-google {
    padding: 0 0 0 10px;
}

.btn__login {
    width: 48%;
}

  