<ion-content class="login">
  <ion-toolbar class="ion-toolbar">
    <ion-title class="ion-text-center">¡Inicia sesion como negocio!</ion-title>
  </ion-toolbar>
  <ion-item>
    <ion-label position="floating">Correo electrónico</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button class="btn__login" (click)="login()">Iniciar sesión</ion-button>
  
  <ion-button color="secondary" class="btn-google" (click)="login()">
    <ion-img class="img-google" src="https://img.icons8.com/color/22/000000/google-logo.png"></ion-img>
    <p class="text__btn-google">Inicia sesion</p>
  </ion-button>
</ion-content>