.ion-toolbar {
    padding: 4rem 0 0 0;
}

.btn-google {
    height: 35px;
    width: 48%;

}

.img-google {
    width: 25px;
    min-width: 25px;
}

.text__btn-google {
    padding: 0 0 0 10px;
}

.btn__login {
    width: 48%;
}

  