<ion-content>
  <section class="login">
    <p>Inicia sesion<p>
    <div class="login__input">
      <ion-input label="Ingresa tu Email empresarial" label-placement="floating" fill="outline" placeholder="Email"></ion-input><br>
      <ion-input label="Ingresa la contraseña" label-placement="floating" fill="outline" placeholder="Contraseña"></ion-input>
    </div>
    <div class="google">
      <p>o Inicia sesion con Google</p>
      <div class="row">
        <button class="btn btn-lg btn-google btn-block text-uppercase btn-outline" (click)="login()">
            <img src="https://img.icons8.com/color/22/000000/google-logo.png"> Sing in Google
        </button>
    </div>
    </div>
  </section>
</ion-content>
