// ion-list.formulary.md.list-md.hydrated {
//     margin-top: 5rem;
// }
// .formulary{
//     border-radius: 3vw;
// }

ion-list.list_profile.md.list-md.hydrated {
    margin-top: 7rem;
    padding: 3vw;
    padding-bottom: 5vw;
}