<ion-header class="header" >
  <ion-toolbar color="toolbar">

    <ion-buttons class="buttons" slot="start">
      <ion-back-button class="back-button" default-href="page/tabs/tab2">  </ion-back-button>
    </ion-buttons>
  
    <img class="header__image" src="../../assets/logoFinder.png" alt="logoFinder">
    
  </ion-toolbar>
</ion-header>

<ion-content>
<form
  class="form update-user"
  [formGroup]="updateUserForm"
  autocomplete="off"
>
  <ion-list class="list_profile">

    <ion-item class="formulary-zero">
      <ion-avatar aria-hidden="true" slot="start">
        <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>Juan Carlos Jimenez Guerrero</ion-label>
    </ion-item>
  
  <ion-item>
    <ion-input label="Nombres" label-placement="floating" placeholder="Ej: Juan Carlos"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Apellidos" label-placement="floating" placeholder="Ej: Jimenez Guerrero"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="E-mail" label-placement="floating" placeholder="Ej: ejemplo@correo.com"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Numero de identidad" label-placement="floating" placeholder="Ej: 123456789"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-input label="Numero de telefono" label-placement="floating" placeholder="Ej: 987654321"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-select label="Sexo" placeholder="Selecciona">
      <ion-select-option value="hombre">Hombre</ion-select-option>
      <ion-select-option value="mujer">Mujer</ion-select-option>
      <ion-select-option value="sin-especificar">Sin especificar</ion-select-option>
   
    </ion-select>
  </ion-item>
  
  <ion-item>
    <ion-toggle> Notificaciones </ion-toggle>
  </ion-item>
  
  <ion-item href="#" routerLink="/page/tabs/tab1/historial">
    <ion-icon aria-hidden="true" size="large" name="hourglass-outline" slot="start"></ion-icon>
    <ion-label>Historial</ion-label>
    <ion-icon style="color:#334ea2" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  </ion-list>
</form>
</ion-content>





