<ion-content fullscreen="true">
    <ion-list class="ion__list">
    <ion-item>
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>Huey</ion-label>
      </ion-item>
      <ion-item href="#"(click)="goToHistorial($event)">
        <ion-icon aria-hidden="true" size="large" name="hourglass-outline" slot="start"></ion-icon>
        <ion-label>Historial</ion-label>
        <ion-icon style="color:#334ea2" name="chevron-forward-outline"></ion-icon>
      </ion-item>  
    </ion-list>
</ion-content>    
