.card {
    display: flex;
    justify-content: space-evenly;
    height: 8.5rem;
}



.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card__arrow {
    font-size: 2rem;
}

.card__img{
    width: 42%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-color: #4854E0;
}

.header__image{
    width: 8.5rem;
    position: inherit;
}

.cart {
    width: 17%;
    height: 10%;
    max-width: 3.8rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart__icon {
    font-size: 25px;
}

.header[_ngcontent-ng-c851329391] {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9.5rem;
    background-color: #4854E0;
}

.header-icon {
    font-size: 30px;
}