<ion-header class="header" >
  <ion-icon name="search" class="header-icon" routerLink="search"></ion-icon>
   <ion-img class="header__image" src="../../assets/finder_logo_final.png" alt="logoFinder"> </ion-img>
  <ion-icon name="cart-outline" class="header-icon" routerLink="cart"></ion-icon>
</ion-header>

<ion-content [fullscreen]="true">
    <!-- <a class="router__search" routerLink="search">
      <ion-searchbar color="ligth" animated="true" placeholder="¿Que deseas?"></ion-searchbar>
    </a> -->
  <!-- <ion-card class="cart" color="tertiary" routerLink="cart">
    <ion-card-content>
      <ion-icon class="cart__icon" name="cart"></ion-icon>
    </ion-card-content>
  </ion-card> -->

  <ion-card (click)="goToOrder()"  class="card"  color="primary">
    <ion-card-header class="card__header">
      <ion-card-title>Haz tu pedido</ion-card-title>
      <ion-icon class="card__arrow" name="arrow-forward-circle"></ion-icon>
    </ion-card-header>
    <ion-img class="card__img" src="assets/pedido.png"></ion-img>
  </ion-card>

  <ion-card class="card"  color="secondary">
    <ion-card-header class="card__header">
      <ion-card-title>Haz un envio</ion-card-title>
      <ion-icon class="card__arrow" name="arrow-forward-circle"></ion-icon>
    </ion-card-header>
    <ion-img class="card__img" src="assets/envia.png"></ion-img>
  </ion-card>
</ion-content>
