.card {
    display: flex;
    justify-content: space-evenly;
    height: 8.5rem;
}

.card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card__arrow {
    font-size: 2rem;
}

.card__img{
    width: 42%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: #E6E6FA;
}

.header__image{
    height: 8rem;
}

.cart {
    width: 17%;
    height: 10%;
    max-width: 3.8rem;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.cart__icon {
    font-size: 25px;
}

.router__search {
    text-decoration: none;
    color: inherit;
}