<ion-header class="header" >
  <ion-toolbar color="toolbar">

    <ion-buttons class="buttons" slot="start">
      <ion-back-button class="back-button" default-href="page/tabs/tab2">  </ion-back-button>
    </ion-buttons>
  
    <img class="header__image" src="../../assets/logoFinder.png" alt="logoFinder">
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <a class="router__search" routerLink="search">
      <ion-searchbar color="ligth" animated="true" placeholder="¿Que deseas?"></ion-searchbar>
    </a>
  <ion-card class="cart" color="tertiary">
    <ion-card-content>
      <ion-icon class="cart__icon" name="cart"></ion-icon>
    </ion-card-content>
  </ion-card>

  <ion-card class="card"  color="primary">
    <ion-card-header class="card__header">
      <ion-card-title>Haz tu pedido</ion-card-title>
      <ion-icon class="card__arrow" name="arrow-forward-circle"></ion-icon>
    </ion-card-header>
    <ion-img class="card__img" src="assets/pedido.png"></ion-img>
  </ion-card>

  <ion-card class="card"  color="secondary">
    <ion-card-header class="card__header">
      <ion-card-title>Haz un envio</ion-card-title>
      <ion-icon class="card__arrow" name="arrow-forward-circle"></ion-icon>
    </ion-card-header>
    <ion-img class="card__img" src="assets/envia.png"></ion-img>
  </ion-card>
</ion-content>
