.store-login {
    text-decoration: none;
    color: inherit;
}
#logOutCustomers {
    display: flex;
    flex: 1 1 0%;
    flex-direction: inherit;
    align-items: inherit;
    align-self: stretch;
    text-overflow: ellipsis;
    overflow: inherit;
    box-sizing: border-box;
    justify-content: center;
}