<ion-header class="header" >
  <ion-toolbar color="toolbar">

    <ion-buttons class="buttons" slot="start">
      <ion-back-button class="back-button" default-href="page/tabs/tab2">  </ion-back-button>
    </ion-buttons>
  
    <img class="header__image" src="../../assets/logoFinder.png" alt="logoFinder">
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <a class="settings-link" routerLink="security">
    <ion-item>
      <ion-icon aria-hidden="true" size="large" name="shield-checkmark-outline" slot="start"></ion-icon>
      <ion-label>Seguridad</ion-label>
      <ion-icon style="color:#334ea2" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    </a>

    <a class="settings-link" routerLink="payment-methods">
    <ion-item>
      <ion-icon aria-hidden="true" size="large" name="wallet-outline" slot="start"></ion-icon>
      <ion-label>Mis Tarjetas</ion-label>
      <ion-icon style="color:#334ea2" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    </a>

    <!-- <a routerLink=""> -->
    <ion-item>
      <ion-icon aria-hidden="true" size="large" name="notifications-outline" slot="start"></ion-icon>
      <ion-toggle><ion-label>Notificaciones</ion-label></ion-toggle>
    </ion-item>
    <!-- </a> -->

    <a class="settings-link" routerLink="help-support">
    <ion-item>
      <ion-icon aria-hidden="true" size="large" name="help-circle-outline" slot="start"></ion-icon>
      <ion-label>Ayuda & Soporte</ion-label>
      <ion-icon style="color:#334ea2" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    </a>

    <a class="settings-link" routerLink="about-finder">
    <ion-item>
      <ion-icon aria-hidden="true" size="large" name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>Acerca de Finder</ion-label>
      <ion-icon style="color:#334ea2" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    </a>
      <ion-item>
         <ion-button id="logOutCustomers" color="medium" size="default" fill="outline" (click)="logOutCustomers()">Cerrar Sesión</ion-button>
      </ion-item>
    
  </ion-list>
</ion-content>
